---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="A propos | Mathieu Soussignan"
  description="A propos de Mathieu Soussignan"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A propos"
        tagline="Développeur passionné en alternance dans l'intelligence artificielle"
      >
        <img
        class="about-img"
        width="480"
        height="620"
        src="/assets/profil-logo.jpg"
        alt="Mathieu Soussignan au travail"
      />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Après une reconversion professionnelle et l’obtention d’une
            certification en développement web et web mobile à Simplon (2023),
            j’ai poursuivi mon ambition en me spécialisant dans l’<strong>Intelligence Artificielle</strong>.
          </p>
          <br />
          <p>
            Actuellement, je suis en alternance chez <strong>Keyrus à Aix-en-Provence</strong> en tant
            que développeur IA / data, dans le cadre de ma formation diplômante de
            <strong>développeur en intelligence artificielle</strong> chez Simplon.
          </p>
          <br />
          <p>
            Je me passionne pour l’apprentissage automatique, l’ingénierie de données et
            la création d’applications web modernes et performantes. Chaque projet est
            pour moi l’occasion de mêler rigueur technique, créativité et innovation.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>
            <strong>2024 — En cours :</strong> Développeur en Intelligence Artificielle (Simplon / Microsoft / France Travail)
            <br /><br />
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <h3>Technical Skills</h3>
          <br />
          <ul>
            <li><strong>Langages :</strong> HTML5, CSS3, JavaScript, Python, SQL</li>
            <li><strong>Frameworks :</strong> React, Astro, Flask, FastAPI</li>
            <li><strong>IA / Data :</strong> Pandas, Numpy, Scikit-learn, Pytorch (débutant)</li>
            <li><strong>Design / UI :</strong> Tailwind CSS, Figma</li>
            <li><strong>Versioning :</strong> Git & GitHub</li>
            <li><strong>Méthodo :</strong> Méthodes Agile, Trello</li>
          </ul>
          <br />
          <h3>Soft Skills</h3>
          <br />
          <ul>
            <li>Autonomie & curiosité</li>
            <li>Capacité d'adaptation</li>
            <li>Travail en équipe</li>
            <li>Pensée analytique & rigueur</li>
            <li>Communication & écoute</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .about-img {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
  object-position: center top;
  margin-inline: auto;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
}

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
