---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="A propos | Mathieu Soussignan"
  description="A propos de Mathieu Soussignan"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A propos"
        tagline="Développeur passionné en alternance dans l'intelligence artificielle"
      >
        <img
        class="about-img"
        width="480"
        height="620"
        src="/assets/profil-logo.jpg"
        alt="Mathieu Soussignan au travail"
      />
      </Hero>

      <section>
        <h2 class="section-title">Mon Parcours</h2>
        <div class="content">
          <p>
            Rien ne me prédestinait à travailler dans la tech. Et pourtant, après plusieurs années dans un tout autre domaine, j’ai ressenti ce besoin de me réinventer. C’est en découvrant le développement web que j’ai eu le déclic : créer des choses concrètes, résoudre des problèmes, construire des projets utiles… ça m’a tout de suite parlé.
          </p>
          <br />
          <p>
            En 2023, j’ai entamé une reconversion professionnelle et obtenu ma certification de développeur web et web mobile chez <strong>Simplon</strong>. Cette formation intense, en pédagogie active, m’a permis de poser des bases solides : HTML, CSS, JavaScript, React, bases de données, back-end... Mais au-delà des compétences techniques, j’y ai appris à travailler en équipe, à chercher par moi-même, et à ne jamais lâcher.
          </p>
          <br />
          <p>
            Aujourd’hui, je poursuis mon apprentissage dans un nouveau défi : l’<strong>intelligence artificielle</strong>. Je suis en alternance chez <strong>Keyrus à Aix-en-Provence</strong>, où je travaille sur des projets mêlant data analyse et IA. En parallèle, je suis la formation diplômante de <strong>développeur en intelligence artificielle</strong> chez Simplon. C’est un environnement stimulant, où je progresse chaque jour en mêlant code, analyse de données, modélisation et industrialisation.
          </p>
          <br />
          <p>
            Ce que j’aime dans mon métier, c’est cette capacité à relier les points : du front-end au back-end, du traitement des données à leur valorisation, je m’épanouis dans une approche fullstack, orientée solution. Mon objectif est simple : mettre la tech au service de projets concrets, accessibles, et utiles — que ce soit pour les entreprises ou pour les utilisateurs.
          </p>
          <br />
          <p>
            Je suis en constante évolution, curieux, rigoureux, et toujours partant pour apprendre de nouvelles technos ou relever de nouveaux défis. Chaque ligne de code est une opportunité d’apprendre, d’optimiser, et de créer un impact.
          </p>
        </div>
      </section>
      

      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>
            <strong>2024 — En cours :</strong> Développeur en Intelligence Artificielle (Simplon / Microsoft / France Travail)
            <br /><br />
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <h3>Technical Skills</h3>
          <br />
          <ul>
            <li><strong>Langages :</strong> HTML5, CSS3, JavaScript, Python, SQL</li>
            <li><strong>Frameworks :</strong> React, Astro, Flask, FastAPI</li>
            <li><strong>IA / Data :</strong> Pandas, Numpy, Scikit-learn, Pytorch (débutant)</li>
            <li><strong>Design / UI :</strong> Tailwind CSS, Figma</li>
            <li><strong>Versioning :</strong> Git & GitHub</li>
            <li><strong>Méthodo :</strong> Méthodes Agile, Trello</li>
          </ul>
          <br />
          <h3>Soft Skills</h3>
          <br />
          <ul>
            <li>Autonomie & curiosité</li>
            <li>Capacité d'adaptation</li>
            <li>Travail en équipe</li>
            <li>Pensée analytique & rigueur</li>
            <li>Communication & écoute</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .about-img {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
  object-position: center top;
  margin-inline: auto;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
}

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
